/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

/vendor

parse*.c
parse*.h
parse*.output

ext/parzer/parse.inc
ext/parzer/parse.h.inc
lib/parzer/parzer.bundle
